.img {
    width: 50%;
}

.img-md {
    width: 100%;
}

.img-lg {
    width: 100%;
}


.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.text-md {
    justify-content: space-around;
}

.container-card {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.size-md {
    flex-direction: column-reverse;
}

.size-lg {
    flex-direction: column-reverse;
}

.size-xs {
    align-items: center;
}