.container {
    height: 100vh;
    width: 100vw;
    padding: .5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.article-1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.article-2 {
    grid-column-start: 4;
    grid-column-end: 5;
}

.article-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}